.unorderedlist ul {
    list-style-type: none;
    padding: 0;
}

.unorderedlist li {
    color: #4F5665;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 30px;
}

.verify-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.text2{
    margin-left: 230px;
}

.text2 p{
    margin-bottom: 27px;
}

.hero2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    margin: 0 auto;
    padding: 50px 20px;
    background: linear-gradient(180deg, #F6F5F5 -45.04%, #FFFFFF 19.67%, #F4F3F3 88.56%);
}

.hero2-image {
    width: 508px;
    height: 417px;
    margin-right: 20px;
    margin-left: 80px;
}


.hero2-text {
    width: 100%;
    display: flex;
}

.hero2 h2 {
    font-weight: 500;
    font-size: 35px;
    color: #0B132A;
    text-align: left;
    display: flex;
}

.hero2 p {
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
    display: flex;
    margin-top: 20px;
    text-align: left;
}